<footer class="footer" id="pageFooter">
		<img class="footerIcon" src="/images/mail.png"><label>anubhav8804602148@gmail.com</label>
		<img class="footerIcon" src="/images/call.png"><label>+91 7543028853</label>
		<img class="footerIcon" src="/images/facebook.png"><label><a href="https://www.facebook.com/profile.php?id=100049327507243">Anubhav Sharma</a></label>
		<img class="footerIcon" src="/images/linkedin.png"><label><a href="https://www.linkedin.com/in/anubhav-sharma-4b1a13169/">Anubhav Sharma</a></label>
</footer>
