#paymentLink{
	background-color:cadetblue;
	position:relative;
}
#myMess{
	color:red;
}
.notAuthorizedMessage{
	color:red;
}
#iconImg{
	width:3vw;
}
.varBigImage{
	float:left;
	margin:4vw;
	width:20vw;
	border-style:inset;
}

#notices{
	margin:100px;
	float:right;
	border-style:double;
	border-color:blueviolet;
	margin-top:10%;
	margin-right:10%;
	width:40vw;
	font-family: "Lucida Console", "Courier New", monospace;
}
body{
	background-color:cadetblue;
}

#disclaimer{
	color : yellow;
}
#loginInputId , #loginInputPassword, #loginSubmit{
	border-radius:5px;
}
#loginSubmit{
	position:relative;
	left:30%;
}
#loginForm{
	margin-left:35%;
	margin-top:16%;
	padding:20px;
	width:fit-content;
	border-style:solid;
	border-radius:30px;
}
#registerForm{
	margin-left:35%;
	margin-top:8%;
	padding:20px;
	width:fit-content;
	border-style:solid;
	border-radius:30px;
}
#submitRegisterForm{
	padding-left:30%;
}

#bulkBooksUpload{
	padding-left:30%;
	padding-top:10%;
}

#registerSuccessMessage{
	color:blue;
	margin-left:40%;
}
Error{
	margin-left:10vw;
	color:white;
}
#searchBar{
	float:right;
	border:1px solid #ccc;	
}
.footerIcon{
	margin-left:30px;
	width:20px;
}
#pageFooter{
	position:absolute;
	bottom:0;
	color:white;
	padding-left:100px;
	background-color:#737985;
	font-size:15px;
	width:100vw;
}