#myMess{
	color:red;
}
#iconImg{
	width:3vw;
}
#varBigImage{
	float:left;
	margin:4vw;
	width:40vw;
	border-style:inset;
}
#notices{
	float:right;
	border-style:double;
	border-color:blueviolet;
	margin-top:10%;
}
body{
	background-color:cadetblue;
}

#disclaimer{
	color : yellow;
}
#loginInputId , #loginInputPassword, #loginSubmit{
	border-radius:5px;
}
#loginSubmit{
	position:relative;
	left:30%;
}
#loginForm{
	margin-left:35%;
	margin-top:16%;
	padding:20px;
	width:fit-content;
	border-style:solid;
	border-radius:30px;
}
#registerForm{
	margin-left:35%;
	margin-top:8%;
	padding:20px;
	width:fit-content;
	border-style:solid;
	border-radius:30px;
}
#submitRegisterForm{
	padding-left:30%;
}
#registerSuccessMessage{
	color:blue;
	margin-left:40%;
}
Error{
	margin-left:10vw;
	color:white;
}